*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --primary-color: #ccc;
}

body {
  margin: 0;
  padding: 0;
  /* background: #ccc; */
}

/* image uploader */

.image-uploader-wrapper {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}
.image-uploader-inner {
  padding: 50px;
  background-color: var(--primary-color);
}

/* layout */

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.stack {
  display: flex;
  align-items: flex-start;
  gap: var(--gap);
}
.stack.stack--horizontal {
  flex-direction: row;
}
.stack.stack--vertical {
  flex-direction: column;
}

/* controls */

.controls {
  padding: 20px 0;
  background: white;
  border-bottom: 2px solid #ccc;
}

.control {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.control input[type="number"] {
  width: 80px;
  height: 25px;
}

/* canvas */
.canvas-wrapper {
  padding: 20px;
}
.canvas-wrapper img {
  display: none;
}
#canvas {
  border: 2px dashed white;
}
